/*individual images*/
.tomato-soup-pic {
    width: 300px; 
    height: auto;
    margin: auto;
    display: block;
}
.taco-pic {
    width: 300px;
    height:auto;
    margin: auto;
    display: block;
}
.butterbeer {
    width: 500px;
    height:auto;
    margin: auto;
    display: block;
}

/*universal for recipe pages*/
body {
    background-color: bisque;
}
h1 {
    color: darkgreen;
    text-align: center;
}
p {
    /*text-align: center;*/
}
.optional {
    font-style: italic;
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 4px;
}
.home {
    background-color: burlywood;
    cursor:crosshair;
}
.homeimg {
    width: auto;
    height: 100px;
}