.tomato-soup {
    width: 20rem; 
    
}
.tacos {
    width: 30rem; 
    
}
.butterbeer {
    width: 30rem; 
   
}
img {
    height: auto;
    
} 
p {
    text-align: center;
    margin: auto;
}
.flex-container div a{
    /* background-color: red; */
    height:fit-content;
    text-align: center;
    
}
header {
    /* background: url("../odin-recipes/images/Strawberry.png") no-repeat center; */
    /* border: solid; */
    /* height: 600px; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strawberry {
    height: 300px;

}
h1 {
    text-align:center;;
    font-size: 60px;
    /* border: solid; */
    height:auto;
    position: absolute;
    top: 110px
}
body {
    /* background: url("../odin-recipes/images/berry.bg.jpg") no-repeat bottom; */
    background-size: contain;
    background-color: rgb(250,210,100);
}
.flex-container div {
    /* background-color: bisque; */
    margin: 1rem;
    /* margin-bottom: 3%; */
    /* border-style: solid; */
    /* width: 50%; */
    /* padding: ; */
    /* text-align: center; */
    /* flex: 1; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    /* border: solid; */
    height: fit-content;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}
footer {
    background: url("../odin-recipes/images/berry.bg.jpg") no-repeat bottom;
    background-size: ;
    height: 270px;
    /* border: solid; */
    width: 100%;
    
}
