.tomato-soup {
    width: 70%; 
    height: auto;
    margin: auto;
    display: block;
}
.tacos {
    width: 80%; 
    height: auto;
    margin: auto;
    display: block;
}
.butterbeer {
    width: 80%; 
    height: auto;
    margin: auto;
    display: block;
}
p {
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 600%;
}
body {
    background-color: rgb(209, 180, 144);
}
div {
    background-color: bisque;
    margin: auto;
    /*margin-left: 30%;
    margin-right: 30%;*/
    margin-bottom: 3%;
    border-style: solid;
    width: 50%;
}
